I connected my google drive here!

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
a = 10  # assigning value to a = 10
b = 20 # assigning value to b = 20
c = a + b # it will give the sum of a and b and then, assign it to c
print(c) # It will print 30 because a + b = c = 10 + 20 = 30;

30

type will tell you variable type

In [5]:
a = 10
type(a)

int

In [6]:
b = 10.43
type(b)

float

In [7]:
a = "Rohan"
print(a)

Rohan

In [9]:
# I am comment
# Text after '#' is defined as single line comment

In [15]:
a = "Rohan" #myname
print(a)

Rohan

In [16]:
a = "Rohan" #myname
type(a) # string type

str

In [18]:
a = "Rohan"#myname
# Indexing is as we studied in array, indexing starts from 0;
a[2] # Print h
# as we know 0 = R, 1 = o, 2 = h, 3 = a, 4 = n

'h'

In [22]:
a = "Rohan" #myname
type(a)
# Indexing is as we studied in array, indexing starts from 0;
a[2] # Print h
a[4] ==a[-1] # In Python, negative indexing is used to access elements from the end of a sequence,
#such as a string, that is why it will give True otherwise false

True


In Python, when you use slicing with the syntax a[start:end], it returns a portion of the string starting from the index start up to (but not including) the index end.

a[1:3] means you are slicing the string a from index 1 to index 3. Remember, Python uses 0-based indexing, so index 1 corresponds to the second character, and index 3 corresponds to the fourth character.
Therefore, a[1:3] will give you the substring "oh", which includes the characters at index 1 and 2 (but not 3). Hence, when you print a[1:3], it outputs "oh".

In [23]:
a = "Rohan" #myname
a[1:3] # It will read 1,2 only

'oh'

In [24]:
a = "Rohan" #myname
a[1:4] # It will read 1,2,3 only

'oha'

When you use slicing with the syntax a[start:] in Python, it returns a portion of the string starting from the specified index start until the end of the string.

In [25]:
a[2:] # it will start from 2 and goes till end if you don't write anything; Output is h to n

'han'

When you use slicing with the syntax a[:end] in Python, it returns a portion of the string starting from the beginning until the specified index end, excluding the character at index end.

In [12]:
a[:2] # It will start from 0 and goes till 2!

'Ro'


The capitalize() method in Python is used to capitalize the first character of a string while making the rest of the characters lowercase.

In [26]:
a = "rohan"
a.capitalize()

'Rohan'

The split() method is applied to the string "rohan", and since no delimiter is specified, it splits the string based on whitespace (which, in this case, doesn't exist). As a result, the entire string "rohan" becomes a single-element list ['rohan'].

The type() function is then used to determine the type of the result. In this case, it will be a list. Therefore, type(a.split()) will return <class 'list'>.

In [27]:
a = "rohan"
type(a.split())

list


If you want to specify a delimiter for the split() method, you can pass the desired delimiter as an argument.

In this case, the string "rohan" will be split at each occurrence of the letter 'o', resulting in a list of substrings. The split_result would be ['r', 'han'].

If you then check the type using type(split_result), it will return <class 'list'>.

In [31]:
a = "rohan"
split_result = a.split('o')
print(split_result)

['r', 'han']


In Python, the upper() method is used to convert all characters in a string to uppercase.

In [32]:
a = "rohan"
a.upper()

'ROHAN'

In Python, the lower() method is used to convert all characters in a string to lowercase.

In [33]:
a = "ROHAN"
a.lower()

'rohan'

the string "rohan" is converted into a list of characters and then accesses the third element using 0-based indexing

In [34]:
a = "rohan"
b = list(a)  # Convert the string to a list of characters
result = b[2]
print(result)

h

Your code a = "rohan" creates a string, and then b = list(a) converts that string into a list of individual characters.

In [ ]:
a = "rohan"
b = list(a)

The variable b will be a list containing individual characters from the string "rohan". If you print or inspect b, you'll get:

In [35]:
print(b)

['r', 'o', 'h', 'a', 'n']

Now, each character from the original string has become a separate element in the list b.

Your code is using two different methods for string formatting: f-strings and the format() method. Both will produce the same output:

In [37]:
name = "Charlie"
age = 40

# Using f-string
print(f"My name is {name} and I am {age} years old.")

# Using format() method
print("My name is {} and I am {} years old.".format(name, age))

My name is Charlie and I am 40 years old.
My name is Charlie and I am 40 years old.

Your code is opening a file named "output.txt" in write mode ("w") and writing the string "Hello, I am Atul and I am learning Python" into the file. The with statement is used to ensure that the file is properly closed after writing. Here's your code:

In [40]:
with open("output.txt", "w") as file:
    file.write("Hello, I am Atul and I am learning Python")

This will create a file named "output.txt" (or overwrite it if it already exists) and write the specified content into it. The file will be automatically closed when the with block is exited.

If you want to check the contents of the file, you can open it again in read mode ("r"):

In [42]:
with open("output.txt", "r") as file:
    content = file.read()
    print(content)

Hello, I am Atul and I am learning Python

Your code is asking the user to enter something using the input() function, storing the user's input in the variable user_input, and then printing the entered value. Here's your code:

In [43]:
user_input = input("Please enter something: ")
print("You entered:", user_input)

Please enter something: Hi
You entered: Hi

Your code is using the with statement to open a file named "William_Shakespeare.txt" in read mode ("r"). It then reads the entire contents of the file using file.read() and prints the content. Here's your code:

In [44]:
with open("William_Shakespeare.txt", "r") as file:
 data = file.read()
 print(data)

William Shakespeare (1564-1616) was an English playwright, poet, and actor, widely regarded as one of the greatest writers in the English language and world literature. He was born in Stratford-upon-Avon, England, and his exact birthdate is believed to be around April 23, 1564.

Shakespeare's works, which include 39 plays, 154 sonnets, and two long narrative poems, have had a profound and enduring impact on literature and the arts. His plays are categorized into three main genres: tragedies, comedies, and histories. Some of his most famous works include "Romeo and Juliet," "Hamlet," "Macbeth," "Othello," and "A Midsummer Night's Dream."

Shakespeare's writing is known for its poetic language, complex characters, and exploration of universal themes such as love, power, jealousy, and the human condition. Despite the passage of centuries, his works continue to be performed, studied, and adapted across the globe, making him a timeless and influential figure in the world of literature and drama.